---
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import NewsCard from "@/components/News/NewsCard.astro";
import Sidebar from "@/components/Sidebar.astro";

// import news from "@/data/news.json";

const news = await getCollection("news");
console.log(news);
---

<MainLayout
  title="Benemérita Universidad Autónoma de Puebla"
  description="Convocatorias y Avisos · Maestría en Estudios Sociales: Trabajo, Regulación Laboral · Especialidad en Biotecnología Aplicada · Maestría Ciencias Fisiológicas."
>
  <h2 class="mb-6 text-3xl font-bold">Noticias BUAP</h2>
  <div class="flex flex-col gap-8 md:flex-row">
    <div class="space-y-8 md:w-2/3">
      {
        news.map((reportage) => {
          const { slug, data } = reportage;
          const { title, image, date, category, gallery } = data;

          return (
            <NewsCard
              gallery={gallery}
              title={title}
              image={image}
              date={date}
              category={category}
              url={slug}
            />
          );
        })
      }
    </div>

    <Sidebar />
  </div>
</MainLayout>
