---
import MainLayout from "@/layouts/MainLayout.astro";

import NewsCard from "@/components/News/NewsCard.astro";
import Sidebar from "@/components/Sidebar.astro";

import news from "@/data/data.json";
---
<MainLayout>
  <h2 class="mb-6 text-3xl font-bold">Noticias BUAP</h2>
  <div class="flex flex-col gap-8 md:flex-row">
    <div class="space-y-8 md:w-2/3">
      {news.map(({id, title, resume, author, date, views, image}) => (
        <NewsCard title={title} resume={resume} image={image} author={author} date={date} views={views}/>
      ))}
    </div>

    <Sidebar/>
  </div>
</MainLayout>