---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import Date from "@/components/News/Date.astro";
import { render } from "astro:content";

export const getStaticPaths = (async () => {
  const news = await getCollection("news");

  return news.map((reportage) => ({
    params: {
      id: reportage.slug,
    },
    props: { reportage },
  }));
}) satisfies GetStaticPaths;

const { reportage } = Astro.props;
const { data, slug } = reportage;
const { title, image, date, category, gallery } = data;

const { Content } = await render(reportage);
export const prerender = true;
---

<MainLayout title={title}>
  <h1 transition:name={`title-${slug}`} class="mb-3 text-center text-4xl">
    {title}
  </h1>
  <hr />
  <img class="mx-auto" src={image} alt={`Fotográfia - ${title}`} />

  <div class="mx-auto flex max-w-3xl gap-3">
    {
      gallery.map((image) => (
        <img class="w-auto" src={image} alt={`Fotográfia - ${title}`} />
      ))
    }
  </div>

  <div class="flex items-center justify-between">
    <Date date={date} />
    <p class="text-sm text-gray-500">{category}</p>
  </div>

  <div class="prose mx-auto max-w-5xl text-justify text-sm">
    <Content />
  </div>
</MainLayout>
