---
import Author from './Author.astro';
import Date from './Date.astro';
import Image from './Image.astro';
import ReadMoreButton from './ReadMoreButton.astro';
import Resume from './Resume.astro';
import Title from './Title.astro';
import Views from './Views.astro';
import { Icon } from 'astro-icon/components'

interface Props{
  title: string;
  resume: string;
  author: string;
  date: string;
  views: number;
  image: string;
}

const {title, resume, author, date, image, views} = Astro.props;
---

<div class="overflow-hidden rounded-lg bg-white shadow-md">
  <div class="md:flex">
    <Image image={image}/>
    <div class="p-8">
      <Title text={title}/>
      <Resume written={resume}/>
      <div class="mb-4 flex items-center text-sm text-gray-500">
        <Icon class="w-4 h-4" name="author" />
        <Author name={author}/>
        <Icon class="w-4 h-4" name="date" />
        <Date date={date}/>
      </div>
      <div class="flex items-center justify-between">
        <ReadMoreButton/>
        <Views views={views}/>
      </div>
    </div>
  </div>
</div>